// @file
// The major stylesheet for this theme.
//
// We categorize our components by creating headings in this file. See the
// description on the style guide home page for more information.


// Colors and Sass
//
// Documentation for colors and Sass mixins and variables.
//
// Weight: -1
//
// Style guide: sass
@import 'init';

// Defaults
//
// These are the default base styles applied to HTML elements.
//
// Component classes can override these styles, but if no class applies a style
// to an HTML element, these styles will be the ones displayed.
//
// Style guide: base

// Ensure fonts get loaded first to minimize front-end performance impact.
@import 'base/fonts';
@import 'base/normalize';

// Layouts
//
// The layout styling for major parts of the page that are included with the
// theme. Note: some Panels layouts are included in other parts of the system
// and are not documented.
//
// Style guide: layouts
@import 'layouts/layout-3col/layout-3col';
@import 'layouts/layout-center/layout-center';
@import 'layouts/layout-swap/layout-swap';

// Components
//
// Design components are reusable designs that can be applied using just the CSS
// class names specified in the component.
//
// Weight: 1
//
// Style guide: components

@import 'components/box/box';
@import 'components/clearfix/clearfix';
@import 'components/comment/comment';
@import 'components/divider/divider';
@import 'components/header/header';
@import 'components/hidden/hidden';
@import 'components/highlight-mark/highlight-mark';
@import 'components/inline-links/inline-links';
@import 'components/inline-sibling/inline-sibling';
@import 'components/messages/messages';
@import 'components/print-none/print-none';
@import 'components/responsive-video/responsive-video';
@import 'components/visually-hidden/visually-hidden';
@import 'components/watermark/watermark';
@import 'components/wireframe/wireframe';

// Navigation
//
// Navigation components are specialized design components that are used for
// page navigation.
//
// Weight: 2
//
// Style guide: navigation

@import 'navigation/breadcrumb/breadcrumb';
@import 'navigation/more-link/more-link';
@import 'navigation/nav-menu/nav-menu';
@import 'navigation/navbar/navbar';
@import 'navigation/pager/pager';
@import 'navigation/skip-link/skip-link';
@import 'navigation/tabs/tabs';

// Forms
//
// Form components are specialized design components that are applied to forms
// or form elements.
//
// Weight: 3
//
// Style guide: forms

@import 'forms/autocomplete/autocomplete';
@import 'forms/button/button';
@import 'forms/collapsible-fieldset/collapsible-fieldset';
@import 'forms/form-item/form-item';
@import 'forms/form-table/form-table';
@import 'forms/progress-bar/progress-bar';
@import 'forms/progress-throbber/progress-throbber';
@import 'forms/resizable-textarea/resizable-textarea';
@import 'forms/table-drag/table-drag';

@import "zen-grids";

$zen-columns: 7;
$zen-gutters: 10px;

.container {
  @include zen-grid-container();
}

#userlinks {
  float: right;
}

#userlinks h2 {
  display: none;
}

#navigation h2 {
  display: none;
}

#sidebar-first {
  @include zen-grid-item(1.5,1);
  padding: 2%;
  margin: 1.4%;
  background-color: rgba(245,237,238,0.5);
}

#sidebar-second {
  @include zen-new-row();
  @include zen-grid-item(1.5,1);
  padding: 2%;
  margin: 1.4%;
  background-color: rgba(245,237,238,0.5);
}

#highlighted {
  // @include zen-new-row();
  @include zen-grid-item(7,1);
}

// #help {
//   @include zen-new-row();
//   @include zen-grid-item(4,3);
// }

#content {
  @include zen-grid-item(4, 3);
}

#content_block_1 {
  @include zen-new-row();
  @include zen-grid-item(3.5,1);
  background-color: rgba(245,237,238,0.5);

}

#content_block_2 {
  @include zen-grid-item(3.5,3.5);
  background-color: rgba(245,237,238,0.5);

}

#content_block_3 {
  @include zen-new-row();
  @include zen-grid-item(3.5,1);
  background-color: rgba(245,237,238,0.5);

}

#content_block_4 {
  @include zen-grid-item(3.5,3.5);
  background-color: rgba(245,237,238,0.5);

}

// Element styling

body {
  font-family: 'Open Sans', sans-serif;

}

a,
a:link,
a:active,
a:link:visited,
a:link:active, a:visited:active {
  text-decoration: none;
  color: (internal value);
}

h1#site-name{
  font-size: 7rem;
  color: red;
}

h1 {
  font-family: 'Michroma', sans-serif;
}

h2 {
  font-family: 'Michroma', sans-serif;
}

#site-name {
  font-family: 'Baloo Chettan';
  font-size: 3rem;
  padding: 2%;
  color: #303047;
}

a:hover {
  color: #EF3E36;
}

#navigation {
  padding-top: 2%;
  padding-left: 2%;
  padding-bottom: 0px;
  margin-bottom: 0px;
}



.node-article {
  background-color: rgba(245,237,238,0.5);
  padding: 2%;
  margin-top:0.4%;
}

.view-my-receipts {
  background-color: rgba(245,237,238,0.5);
  padding: 2%;
  margin-top:0.4%;
}
